* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #E5E7EB;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

form {
    background-color: #FFFFFF;
    padding: 50px;
    padding-bottom: 50px;
    width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #D1D5DB;
}

h1 {
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    
}

.d1 {
    margin-bottom: 20px;
}

.d1 input {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    transition: border 0.3s ease;
}

.d1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.d1 input:focus {
    border-color: #6366F1;
}

.btn1 {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #6366F1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn1:hover {
    background-color: #4F46E5;
}

.d2 {
    text-align: center;
    margin-top: 30px;
}

.d2 a {
    font-size: 16px;
    color: #4B5563;
    font-weight: 700;
    text-decoration: none;
}

.d2 a:hover {
    color: #1F2937;
}

.error {
    background-color: #FECACA;
    color: #B91C1C;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
